body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Adicione estilos conforme necessário para as redes sociais e o rodapé */

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Adicione transições conforme necessário para as imagens */
img {
    transition: transform 0.5s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

/* Adicione ao estilo CSS para personalizar os formulários */
.contact-form,
.product-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Adicione ao estilo CSS para marquee e opacidade */
.marquee {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

.opacity-effect {
    opacity: 0.8;
}